@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Spartan', sans-serif;

}

h1 {
    font-size: 50px;
    line-height: 64px;
    color: #222;
}

h2 {
    font-size: 46px;
    line-height: 54px;
    color: #222;
}

h4 {
    font-size: 20px;
    color: #222;
}

h6 {
    font-weight: 700;
    font-size: 12px;
}

p {
    font-size: 16px;
    color: #465b52;
    margin: 15px 0 20px 0;
}

.section-p1 {
    padding: 40px 80px;
}

.section-m1{
    margin: 40px 0;
}

body {
    width: 100%;
}

#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background: #e3e6f3;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}

#navigationBar{
    display: flex;
    align-items: center;
    justify-content: center; 
}

#navigationBar li{
    list-style: none;
    padding: 0 20px;
    position: relative;
}

#navigationBar li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #1a1a1a;
    transition: 0.3s ease; 
}

#navigationBar li a:hover,
#navigationBar li a.active {
    color: #088178; 
}

#navigationBar li a.active::after,
#navigationBar li a:hover::after {
    content: "";
    width: 30%;
    height: 2px;
    background: #088178;
    position: absolute;
    bottom: -4px;
    left: 20px;
}

#mobile{
    display: none;
    align-items: center;
}
#close {
    display: none;
}
#hero {
      background-image: url("img/hero02.1.png");
      height: 85vh;
      width: 100%;
      background-size: cover;
      background-position: top 25% right 0;
      background-repeat: no-repeat;
      padding: 0 80px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;

}


#hero h4{
    padding-bottom: 15px;
}

#hero h1 {
    color: #088178;
}

#hero button{
  background-color:  #088178;       
  color: white;
  padding: 12px 24px;
  border: none;
  border-radius: 30px;
  font-size: 15px;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 4px 15px rgba(255, 111, 97, 0.3);
}

.shop-now-button:hover {
  background-color:  #088178;
  transform: translateY(-2px);
  box-shadow: 0 6px 20px rgba(255, 111, 97, 0.4);
}

#product1 {
    text-align: center;
}

#product1 .pro-container{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    flex-wrap: wrap;
}

#product1 .pro {
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #cce7d0;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
    margin: 5% 0;
    transition: 0.2s ease;
    position: relative;
    
}

#product1 .pro:hover{
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
}

#product1 .pro img{
    width: 100%;
    border-radius: 20px;
}

#product1 .pro .des{
    text-align: start;
    padding: 10px 0;
}

#product1 .pro .des span{ 
    color: #606063;
    font-size: 12px;
}

#product1 .pro .des h5 {
    padding-top: 7px;
    color: #1a1a1a;
    font-size: 14px;
}

#product1 .pro .des i {
    font-size: 12px;
    color: rgb(243, 181, 25);
}

#product1 .pro .des h4{
    padding-top: 7px;
    font-size: 15px;
    font-weight: 700;
    color: #088178;
}

#product1 .pro .cart{
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    background-color: #e8f6ea;
    font-weight: 500;
    color: #088178;
    border: 1px solid #cce7d0;
    position: absolute;
    bottom: 20px;
    right: 10px;
}

#emailsignup {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-image: url("img/b14.png");
    background-repeat: no-repeat;
    background-position: 20% 30%;
    background-color: #041e42;
}
#emailsignup h4{
    font-size: 22px;
    font-weight: 700;
    color: #fff;
}
#emailsignup p{
    font-size: 14px;
    font-weight: 600;
    color: #818ea0;
}
#emailsignup p span{
    color: #ffbd27;
}
#emailsignup .form{
    display: flex;
    width: 40%;
}

#emailsignup input{
    height: 3.125rem;
    padding: 0 1.25em;
    font-size: 14px;
    width: 100%;
    border: 1px solid transparent;
    border-radius: 4px;
    outline: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
#emailsignup button{
    background-color: #088178;
    color: #fff;
    white-space: nowrap;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    width: 20%;
    font-weight: 600;
}

footer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 40px;
    padding: 10px;
}

footer .col{
    flex: 1 1 200px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
}

footer .logo{
    margin-bottom: 30px;
}
footer h4{
    font-size:14px;
    padding-bottom: 20px;
}
footer p {
    font-size: 13px;
    margin: 0 0 8px 0;
}
footer a {
    font-size: 13px;
    text-decoration: none;
    color: #222;
    margin-bottom: 10px;
}
footer .follow{
    color: #465b52;
    padding-right: 4px;
    cursor: pointer;
}

#page-header{
    background-image: url("img/shopheader04.png");
    width: 100%;
    height: 60vh;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 14px;
}
#page-header h2 {
    color: #088178;
}
#page-header h4{
    font-weight: 80px;
}
#pagination{
    text-align: center;

}
#pagination a {
    text-decoration: none;
    background-color: #088178;
    padding: 15px 20px;
    border-radius: 4px;
    color: #fff;
    font-weight: 600;
}

#pagination a i{
    font-size: 16px;
    font-weight: 600;
}

/* single product*/
#prodetails{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 50px;
    margin-top: 20px;
    flex-wrap: wrap;
    
}

#prodetails .single-pro-image{
    width: 20%;
    margin-right: 50px;
}
.small-image-group{
    display: flex;
    justify-content: space-between;

}
.small-image-col{
    flex-basis: 24%;
    cursor: pointer;
}

#prodetails .single-pro-details{
    width: 50%;
    padding-top: 30px;
}
#prodetails .single-pro-details h4{
    padding: 40px 0 20px 0;
}
#prodetails .single-pro-details h2{
    font-size: 26px;
}
#prodetails .single-pro-details select{
    display: block;
    padding: 5px 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}
#prodetails .single-pro-details input{
    width: 50px;
    height: 47px;
    padding-left: 10px;
    font-size: 16px;
    margin-right: 10px;
    border-radius: 5px;
}
#prodetails .single-pro-details button{
    background-color: #088178;
    color: #fff;
    width: 100px;
    height: 40px;
    font-weight: bold;
    border-radius: 5px;
}
#prodetails .single-pro-details button:focus{
    outline: none;
}
#prodetails .single-pro-details span{
    line-height: 25px;
    font-size: small;
}

/* About page */

#page-header.about-header {
    background-image: url("img/aboutheader01.png");
    width: 100%;
    height: 60vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
#page-header.about-header h4{
    margin-top: 10px;
}

#about-head{
    display: flex;
    align-items: center;
}
#about-head img{
    width: 30%;
    height: auto;
}
#about-head div{
    padding-left: 40px;
}
#about-head div p{
    font-size: medium;
}
#about-video{
    text-align: center;
}
#about-video .video01 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px auto 0 auto;
}

#about-video .video01 video {
    width: 40%;         
    max-width: 300px;   
    height: auto;
    border-radius: 20px;
}

/* Cart page*/

#cart{
    overflow-x: auto;
}
#cart table{
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    white-space: nowrap;
}
#cart table img{
    width: 70px;
}
#cart table td:nth-child(1){
    width: 300px;
    text-align: center;
}
#cart table td:nth-child(2),
#cart table td:nth-child(3),
#cart table td:nth-child(4),
#cart table td:nth-child(5){
    width: 150px;
    text-align: center;
}
#cart table td:nth-child(6){
    width: 100px;
    text-align: center;
}
#cart table td:nth-child(4) input{
    width: 70px;
    padding: 10px 5px 10px 15px;
}
#cart table thead{
    border: 1px solid #e2e9e1;
    border-left: none;
    border-right: none; 
}
#cart table thead td{
    font-weight: 700;
    text-transform: uppercase;
    font-size: 13px;
    padding: 18px 0;
}
#cart table tbody tr td{
    padding-top: 15px;
}
#cart table tbody td{
    font-size: 13px;
}


#subtotal {
    width: 50%;
    margin-bottom: 30px;
    border: 1px solid #e2e9e1;
    padding: 30px;
    margin-left: auto;
    margin-right: auto;
}

#subtotal table{
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
}
#subtotal table td{
    width: 50%;
    border: 1px solid #e2e9e1;
    padding: 10px;
    font-size: 13px;
}
#subtotal h3{
    padding-bottom: 15px;
}

#subtotal button{
    background-color: #088178;
    color: #fff;
    padding: 12px 20px;
    border-radius: 10px;
}

@media (max-width:799px){
    #navigationBar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    right: -300px;
    height: 100vh;
    width: 300px;
    background-color: #e3e6f3;
    box-shadow: 0 40px 60px rgba(0, 0, 0, 0.01);
    padding: 80px 0 0 10px;
    transition: 0.3s;
}
#navigationBar.active {
    right: 0px;
}

#navigationBar li{
    margin-bottom: 25px;
}
#mobile{
    display: flex;
    align-items: center;
}
#mobile i{
    color: #1a1a1a;
    font-size: 24px;
    padding-left: 20px;
}
#close{
    display: initial;
    position: absolute;
    top: 30px;
    left: 30px;
    color: #222;
    font-size: 24px;
}
#lg-cart{
    display: none;
}

#hero {
    height: 70vh;
    padding: 0 80px;  
    background-position: top 30% right 20%;
}

#product1 .pro-container {
    justify-content: center; 
}
#product1 .pro {
    margin: 2% 2%;
}
#emailsignup .form {
    width: 70%;
}
footer .col {
    flex: 1 1 ;   
}
/* about us*/
#page-header.about-header {
        height: 40vh; 
        background-size: cover; 
        background-position: center;
        padding: 10px; 
    }

}

@media (max-width: 477px){
    #header{
        padding: 10px 30px;
    }
    h1{
        font-size: 38px;
    }

    h2{
        font-size: 30px;
    }

    #hero{
        padding: 0 20px;
        background-position: 75%;
    }
    #product1 .pro{
        width: 100%;
    }
    #emailsignup {
        padding: 40px 20px;
    }
    #emailsignup .from{
        width: 100%;
    }
    #emailsignup button {
    
    width: 50%;
    
}
/*single product*/
#prodetails {
        flex-direction: column;
        align-items: center;
        gap: 20px; 
        margin-top: 10px;
    }
#prodetails .single-pro-image{
    width: 100%;
    margin-right: 0px;
}
#prodetails .single-pro-details{
    width: 100%;
}
/*about page*/

#about-head{
    flex-direction: column;
}
#about-head img{
    width: 100%;
    margin-bottom: 20px;
}
h2 {
    font-size: 20px;
}
#about-head div p {
    font-size: 10px;
}
#about-head div{
    padding-left: 0px;
}
h1 {
    font-size: 20px;
}
.section-p1 {
    padding: 20px 80px;
}
#subtotal {
    width: 100%;
    
}
}